.heroContainer {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/**Top Hero Container Design Start***/
.topHeroContainer {
  display: flex;
  width: 100%;
  height: 50vh;
  gap: 1rem;
}


/**Top Right Hero Container Design Start***/
.topRightHeroContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.boxDesignerTop {
  position: absolute;
  top: 80px;
  right: 350px;
  width: 500px;
  height: 450px;
  transform: rotate(30deg);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: tomato;
}

.imgContainerTop {
  position: absolute;
  right: 200px;
  width: 350px;
  height: 500px;
  margin-top: 1rem;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.textContainer span {
  color: tomato;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.btn {
  width: 100%;
  font-size: 1.23rem;
}


/**######Top Right Hero Container Design End***##########/


/**Top Left Hero Container Design Start***/
.topLeftHeroContainer {
  position: relative;
  width: 50%;
}


.textContainer {
  padding: 0.85rem;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.textContainer h1 {
  font-size: 3.55rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
/**Top Left Hero Container Design End***/




/*##########Top Hero Container Design End######*/



/*#########Bottom Hero Container Design Start#########*/

.bottomHeroContainer {
  display: flex;
  width: 100%;
  height: 50vh;
  gap: 1rem;
}

/***********Bottom Left Hero Container Design Start**************/
.bottomLeftHeroContainer {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  place-items: end;

}
.cardDesign {
  width: 100%;
  height: 150px;
  border: 8px double tomato;
  transform: rotate(45deg);
  margin: 1rem;
}
.cardImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/***********Bottom Left Hero Container Design End**************/



/***********Bottom Right Hero Container Design Start**************/
.bottomRightHeroContainer {
  position: relative;
  width: 50%;
}

.boxDesignerBottom {
  position: absolute;
  top: 150px;
  left: 300px;
  width: 500px;
  height: 450px;
  transform: rotate(20deg);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: tomato;
}

.imgContainerBottom {
  position: absolute;
  top: -120px;
  left: 190px;
  width: 350px;
  height: 500px;
  margin-top: 1rem;
}
/***********Bottom Right Hero Container Design End**************/




/*#########Bottom Hero Container Design End#########*/

@media (max-width: 1024px) {
    /**######Top Hero Container Design Start#########*/

  .topHeroContainer {
    height: 100vh;
    flex-direction: column;


  }
  /***Top left Hero Container Design Start**/
    .topLeftHeroContainer {
    position: static;
    width: 100%;
    height: 50%;
  }
  .imgContainerTop {
    position: absolute;
    right: 300px;
    width: 350px;
    height: 500px;
    margin-top: 1rem;
  }
  .boxDesignerTop {
    position: absolute;
    top: 10px;
    right: 550px;
    width: 500px;
    height: 450px;
    transform: rotate(30deg);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: tomato;
  }

  /***Top left Hero Container Design End**/


  /***Top Right Hero Container Design Start**/
    .topRightHeroContainer {
    margin-top: 12rem;
    width: 100%;
    height: 50%;
    align-items: center;

  }

  /***Top Right Hero Container Design End**/

    /**######Top Hero Container Design End#########*/


    /**********/


    /**######Bottom Hero Container Design Start#########*/

    .bottomHeroContainer{
      flex-direction: column;
      height: 100vh;
    }

      /***Bottom left Hero Container Design Start**/

      .bottomLeftHeroContainer{
        width: 100%;
        height: 50%;
        place-items: center;

      }
      .cardDesign{
        height: 150px;
        
      }



      /***Bottom left Hero Container Design End**/



      /***Bottom Right Hero Container Design Start**/

      .bottomRightHeroContainer{
        width: 100%;
        height: 50%;
      }

      .boxDesignerBottom{
        left: 530px;
      }

      .imgContainerBottom{
        top: -190px;
        left: 450px;
      }

      
      /***Bottom Right Hero Container Design End**/










    /**######Bottom Hero Container Design End#########*/

  
    }



/* @media (orientation: landscape){

    .topLeftHeroContainer{
        width: 50%;
    }
    .topRightHeroContainer{
        width: 50%;
    }

} */

@media (max-width: 768px) {

    /**######Top Hero Container Design Start#########*/

  .topHeroContainer {
    flex-direction: column;
    height: 100vh;
  }

    /***Top Left Hero Container Design Start*****/

    .topLeftHeroContainer {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
  }
    .boxDesignerTop {
    display: none;
  }

      .imgContainerTop {
    position: static;
    margin-top: 2.75rem;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
    /***Top Left Hero Container Design End*****/

    /***Top Right Hero Container Design Start*****/


    .topRightHeroContainer {
    width: 100%;
    height: 50%;
  }
    .textContainer h1{
    font-size: 2rem;
    
  }

    .buttonContainer{
    max-width: 100%;
  }
  
/***Top Right Hero Container Design End*****/

    /**######Top Hero Container Design End#########*/



/**######Bottom Hero Container Design Start#########*/
  .bottomHeroContainer {
    min-height: 100vh;
    flex-direction: column;
  }

/**Bottom Left Hero Container Design Start***/
  .bottomLeftHeroContainer {
    width: 100%;
    height: 50%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }


  .cardDesign:nth-child(2) {
    left: 60px;
  }
  .cardDesign:nth-child(3) {
    left: 120px;
  }
  .cardDesign:nth-child(4) {
    left: 180px;
  }
  .cardDesign:nth-child(5) {
    left: 240px;
  }


  /**Bottom Left Hero Container Design End***/

 /**Bottom Right Hero Container Design Start***/
  .bottomRightHeroContainer {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
  }
  .boxDesignerBottom {
    display: none;
  }
  .imgContainerBottom {
    position: static;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
   /**Bottom Right Hero Container Design End***/


  /**######Bottom Hero Container Design End#########*/

}


